.HomePage-container {
    position: relative;
}

.HomePage-background {
    width: 100%;
    min-height: 100vh;
    margin: 0 auto;
    background-image: url("../../assets/img/background.jpg");
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
}

.flex-row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-flex-row {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
}

.HomePage-left-column {
    padding: 20px 15px 20px 20px;
}

.HomePage-left-column,
.HomePage-right-column {
    display: flex;
    flex-direction: column;
    padding: 20px 15px 20px 20px;
    background-color: white;
    max-height: calc(90vh - 20px);
    border-radius: 4px;
    box-shadow: 2px 2px 15px rgb(11, 1, 0);
    margin: 10px 0;
}

.HomePage-right-column {
    padding: 20px;
}

.content {
    width: 100%;
    min-width: 270px;
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    gap: 30px;
    overflow-y: auto;
    scrollbar-gutter: stable;
    padding-right: 5px;
}

.Home-error-text {
    color: rgb(173, 65, 29);
    text-transform: uppercase;
    font-weight: 900;
    margin: 0;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    border-radius: 3px;
}

::-webkit-scrollbar-thumb {
    background: rgba(224, 100, 58, 0.8);
    border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(224, 100, 58);
}

@media screen and (min-width: 320px) {

    .flex-row,
    .main-flex-row {
        flex-direction: column;
        gap: 0px;
        align-items: center;
    }

    .HomePage-left-column,
    .HomePage-right-column {
        width: 270px;
    }
}

@media screen and (min-width: 750px) {

    .flex-row {
        flex-direction: row;
    }

    .main-flex-row {
        flex-direction: row;
        gap: 20px;
        align-items: flex-start;
    }

    .HomePage-left-column {
        width: auto;
    }
}